psutil>=5.9.4
PyQt5>=5.15.9
numpy>=1.23.5
PyAudioWPatch>=0.2.12.5
huggingsound>=0.1.6
selenium>=4.8.0
accelerate>=0.16.0
opencv>=4.7.0.68
python-docx>=0.8.11
contextualSpellCheck>=0.4.3
spacy>=3.5.0
tensorflow>=2.11.0
pyenchant>=3.2.2
